[submodule "extern/pocketfft"]
	path = extern/pocketfft
	url = https://gitlab.mpcdf.mpg.de/mtr/pocketfft.git
[submodule "extern/kissfft"]
	path = extern/kissfft
	url = https://github.com/mborgerding/kissfft
[submodule "extern/benchmark"]
	path = extern/benchmark
	url = https://github.com/google/benchmark
[submodule "ducc0"]
	path = extern/ducc0
	url = https://gitlab.mpcdf.mpg.de/mtr/ducc.git
